<h1>Listing Resources</h1>

<table>
  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td><%= resource.name %></td>
        <td><%= resource.category %></td>
        <td><%= resource.tagline %></td>
        <td><%= resource.website %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- Import Button -->
<h2>Import Resources</h2>

<%= form_tag import_category_resources_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<!-- Import Button Ends -->