<!-- Page Content -->
<div class="container">

    <!-- Resource Name -->
    <div class="row">
      <h1 class="page-header">
        <%= @resource.name %>
        <small><%= link_to @category.name, category_path(@resource.category_id) %></small>
      </h1>

      <p class="lead">
        <%= @resource.tagline %>
      </p>

    </div>
    <!-- END -->

    <div class="row">
      <div class="col-md-8">
        <img class="img-responsive" src="http://placehold.it/800x300" alt="">

        <hr>

        <p><%= @resource.description %></p>
      
        <%= link_to @resource.website, target: '_blank', class: "btn btn-green" do %>
              去看看<span class="glyphicon glyphicon-chevron-right"></span>
        <% end %>

        <hr>

      </div>

      <!-- 资料类型 -->
      <div class="ui-329">
        <div class="col-md-4">
          <!-- Item -->
          <div class="item">
            <!-- Head -->
            <div class="head clearfix">
              <!-- Name and designation -->
              <h2>资源类型</h2>
            </div>
            <!-- Content -->
            <div class="content">
              <ul class="list-unstyled">
                <% @categories.each do |category| %>
                  <li>
                    <%= link_to category.name, category %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- 资料类型 -->
      
      <div class="ui-329">
        <div class="col-md-4">  
          <!-- Reviews BEGIN -->
          <div class="item">
            <div class="head clearfix">
              <h2>评头论足</h2>            
            </div>
            <div class="content">
              <div class="list-unstyled">
                <div class="star-rating" data-score=<%= @avg_rating %> ></div>
                <em><%= "#{@reviews.count} 条评论" %></em>
                <%= render @reviews %>                
                <%= render 'reviews/form', category: @category, review: @review, resource: @resource %>
              </div>
            </div>
          </div>
          <!-- Reviews END -->
        </div>
      </div>

    </div>

    <hr>

    <!-- UY BEGIN -->
    <div id="uyan_frame"></div>
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2009366"></script>
    <!-- UY END -->

</div>
<!-- /.container -->

<!-- Raty BEGIN-->
<script>
    $('.star-rating').raty({
        path: '/assets/',
        readOnly: true,
        score: function() {
        return $(this).attr('data-score');
      }
    });
</script>
<!-- Raty END