<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Resource Entries Column -->
        <div class="col-md-8">

            <h1 class="page-header">
                <%= @resource.name %>
                <small><%= link_to @category.name, category_path(@resource.category_id) %></small>
            </h1>

            <!-- First Resource Post -->
            <p class="lead">
                <%= @resource.tagline %>
            </p>

            <img class="img-responsive" src="http://placehold.it/700x300" alt="">

            <hr>

            <p><%= @resource.description %></p>
            
            <%= link_to @resource.website, target: '_blank', class: "btn btn-primary" do %>
              去看看<span class="glyphicon glyphicon-chevron-right"></span>
            <% end %>

            <hr>
        </div>

        <!-- Resource Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Resource Categories Well -->
            <div class="well">
                <h4>Resource Categories</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li><a href="#">Category Name</a>
                            </li>
                            <li><a href="#">Category Name</a>
                            </li>
                            <li><a href="#">Category Name</a>
                            </li>
                            <li><a href="#">Category Name</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>

    </div>
    <!-- /.row -->

    <!-- UY BEGIN -->
    <div id="uyan_frame"></div>
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2009366"></script>
    <!-- UY END -->

</div>
<!-- /.container -->