<!-- Page Content -->
<div class="container">

    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
              纯干货创业工具资料!
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- UI - X Starts -->
    <div class="ui-142">
      <div class="container">
        <div class="row">
          <% @categories.each do |category| %>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <!-- Item -->
              <div class="ui-item">
                <!-- Image -->
                <%= image_tag "1.jpg", class: "img-responsive" %>
                <!-- Number of Resources -->
                <%= link_to category, class: "ui-circle bg-green" do %>
                  <%= category.resources.count %>
                <% end %>
                <!-- Details -->
                <div class="ui-details">
                  <!-- Heading -->
                  <h2>
                    <%= link_to category do %>
                      <strong><%= category.name %></strong>
                    <% end %>
                  </h2>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>  
    </div>
    <!-- UI - X Ends -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; StartSmart 2015</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->
