<!-- Page Content -->
<div class="container">

    <div class="row">
        <h2 class="page-header">
          <%= @category.name %>
        </h2>
    </div>
    <!-- /.row -->

  <div class="row">
    <!-- Entries Column -->
    <div class="col-md-8">
      <!-- Resource List -->
      <% @resources.each do |resource| %>
        <h3>
          <%= resource.name %>
        </h3>            
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-6">
            <%= link_to [@category, resource] do %>
                <img class="img-responsive" src="http://placehold.it/200x200" alt="">
            <% end %>
          </div>

          <div class="col-md-8 col-sm-6 col-xs-6">
            <p><%= resource.tagline %></p>
            
            <%= link_to [@category, resource], class: "btn btn-green" do %>
              了解产品 
              <span class="glyphicon glyphicon-chevron-right"></span>
            <% end %>
          </div>
        </div>

        <hr>

      <% end %>
    </div>
    
    <!-- 资料类型 -->
    <div class="ui-329">
      <div class="col-md-4">
        <!-- Item -->
        <div class="item">
          <!-- Head -->
          <div class="head clearfix">
            <!-- Name and designation -->
            <h2>资源类型</h2>
          </div>
          <!-- Content -->
          <div class="content">
            <ul class="list-unstyled">
              <% @categories.each do |category| %>
                <li>
                  <%= link_to category.name, category %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- 资料类型 -->

  </div>
  <!-- row -->
</div>


    <%= link_to 'Edit', edit_category_path(@category) %> |
    <%= link_to 'Back', categories_path %>
